/* *{
  border: 1px solid red;
} */

h3{
  font-size: 3vw;
  margin-top: 0;
  color: white;
}
.main{
  border: 1px solid black;
   display: flex;
   
   flex-direction: column; 
   align-items: center;
   /* justify-content: center;  */
   flex-wrap: wrap;
   margin-right: auto;
   margin-left: auto;
   width: 36vw;
   height: 57rem;
   background-color: black;
}
.head{
  width: auto;
  height: 5px;
}
.calculator{
  
  /* border: 1px solid red; */
  width: 35vw;
  height: 30vw;
}
.screen{
  width: 35vw;
  height: 15vh;
  color: white;
}
.allButtons{
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  justify-content: space-between;
  align-items: center;
}
.buttonStyle{
  width: 5vw;
  height: 5vw;
  border-radius: 48%;
  padding: 0;
  font-size: 2vw;
  background-color: #575555;
}
.row{
  width: 35vw;
  display: flex;
  justify-content: space-evenly;
}
.zero{
  width: 13vw;
  height: 5vw;
  border-radius: 9%;
}
.screen{
  height: 10vw;
  overflow: auto;
  font-size: 5vw;
  /* border: 2px solid red; */
  text-align: right;
  vertical-align: bottom;
  
}
.answer{
  margin-right: 3vw;
}
.right{
  background-color: #f69906;
  color: white;
}
.top{
  background-color: #b3b3b3;
  color: #000000;
}